 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.7s;
  }

  html, body {
    height: 100%;
  }

  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F7FAFC;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #cabezote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #cabezote .bi {
    font-size: 2em;
    cursor: pointer;
  }

  #cuerpo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #menu-lateral {
    background-color: white;
    border-right: 2px solid #e2e8f0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 80%;
    transform: translateX(-100%);
    overflow-y: auto;
    flex-shrink: 0;

  }

  #img_menu img {
    width: 150px;
    margin-bottom: 30px;
    padding: 0px 10px;
  }

  #menu-lateral ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .gestion_usuario a, .gestion-usuarios a {
    position: relative;
    display: flex;
    align-items: center;
    color: #4A5568;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.972rem;
    font-weight: 500;
    width: 100%;
  }

  .gestion_usuario > a .bi, .gestion-usuarios > a .bi {
    font-size: 1.4rem;
    margin-right: 10px;
  }

  #menu-lateral li a {
    display: flex;
    align-items: center;
    color: #4A5568;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.972rem;
    font-weight: 500;
    width: 100%;
  }

  #menu-lateral li a .bi {
    font-size: 1.4rem;
    margin-right: 10px;
  }

  #menu-lateral a:hover {
    background-color: #f1f5f9;
  }

  .sub_menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  .sub_menu.mostrar {
    max-height: 200px;
  }

  .sub_menu a {
    display: flex;
    align-items: center;
    color: #718096;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    font-weight: 400;
    width: 100%;
  }

  .sub_menu form button{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    font-weight: 400;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
      color: #4A5568;
  }

  .sub_menu form button .bi {
    font-size: 1.2rem;
    margin-right: 10px;

  }

  .sub_menu form button:hover {
    background-color: #edf2f7;
  }

  .sub_menu a .bi {
    font-size: 1.2rem;
    margin-right: 10px;
  }

  .sub_menu a:hover {
    background-color: #edf2f7;
  }

  #admin-contenido {
    padding: 20px;
    margin-left: 0;
    width: 100%;
  }

  @media screen and (min-width: 700px) and (max-width: 1023px) {
    #img_menu img {
      width: 200px;
    }

    #menu-lateral {
      width: 45%;
    }

    .bi {
      font-size: 2.5em;
    }

    #menu-lateral li a {
      font-size: 1.1rem;
    }

    .sub_menu {
      margin-left: 20px;
    }

    .sub_menu a {
      font-size: 1.05rem;
      padding: 0.8rem 1.2rem;
    }

    .sub_menu a .bi {
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 1024px) {

    #cabezote{
      display: none;
    }


    #img_menu img {
      width: 160px;
    }

    #menu-lateral {
      width: 15%;
      transform: translateX(0) !important;
    }

    #admin-contenido {
      margin-left: 15%;
      padding: 30px;
      width: auto;
    }

    #menu-lateral ul {
      gap: 20px;
    }

    #menu-lateral li #solo_mobil {
      display: none;
    }

    #menu-lateral li a {
      font-size: 1rem;
    }

    .sub_menu {
      margin-left: 10px;
    }

    .sub_menu a {
      font-size: 0.9rem;
      padding: 0.6rem 1rem;
    }

    .sub_menu a .bi {
      font-size: 1rem;
    }
  }