

h1 {
    font-size: 28px;
    margin-bottom: 25px;
    padding-left: 12px;

}

.formulario-solicitud {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 850px; /* más ancha */
    width: 100%;
 
}

.formulario-solicitud .campo {
    margin-bottom: 20px;
}

.formulario-solicitud label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.formulario-solicitud input,
.formulario-solicitud select,
.formulario-solicitud textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 15px;
}

.formulario-solicitud textarea {
    min-height: 100px; /* más alto por defecto */
}

.btn-solicitar {
    background-color: #375a7f;
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-solicitar:hover {
    background-color: #2c3e50;
}
