* {
    box-sizing: border-box;
    transition: all 0.8 ease;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fcfcfd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100%;
}

#cuerpo #cont_mensaje {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    place-content: center;
    place-items: center;
    color: #3D688A;
}

#cuerpo p {
    color: initial;
}

#cuerpo i {
    font-size: 5rem;
}

#cuerpo a{
    background-color: #3D688A;
    padding: 12px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#cuerpo a:hover {
    background-color: #365b78;
}